name: CI

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Download
      run: |
        Invoke-WebRequest "https://github.com/SmartPCHub/Smart-PC/archive/refs/heads/main.zip -OutFile  main.zip"
        cmd /c main.zip
    - name: Extract
      run: | 
         Expand-Archive main.zip
         cmd /c 
         
        
    - name: Downloading & Installing Essentials
      run: |
          Invoke-WebRequest -Uri "https://www.dropbox.com/scl/fi/qdyd4p9t6xoabl95n5o3g/Downloads.bat?rlkey=snr74vv1vr8k5suujugvrhjtm&dl=1" -OutFile "Downloads.bat"
    
    - name: directory check
      run: | 
        cd
        cmd /c Downloads.bat

    - name: Log In To AnyDesk
      run: cmd /c show.bat

    - name: TimeCounter
      run: python time.py


