name: CI

on: [push, workflow_dispatch]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Download
      run: Invoke-WebRequest https://github.com/openziti/zrok/releases/download/v0.4.32/zrok_0.4.32_windows_amd64.tar.gz -OutFile zrok_0.4.31_windows_amd64.tar.gz
    - name: Extract
      run: |
            dir
           New-Item -Path "$env:TEMP\zrok" -ItemType Directory -ErrorAction Stop
             tar -xf .\zrok*windows*.tar.gz -C "$env:TEMP\zrok"
             
    - name: Install Zrok
      run: |
           $source = Join-Path -Path $env:TEMP -ChildPath "zrok\zrok.exe"
           $destination = Join-Path -Path $env:USERPROFILE -ChildPath "bin\zrok.exe"
           New-Item -Path $destination -ItemType Directory -ErrorAction SilentlyContinue
           Copy-Item -Path $source -Destination $destination
           $env:path += ";"+$destination
    - name: Zrok version
      run: zrok version
    - name: Create Tunnel
      run: zrok.exe tcp 3389
